<h1>Books</h1>
<ul>
  <% @books.each do |book|  %>
    <li>
      <%= link_to book.title, book_path(book.id) %>
    </li>
  <% end %>
</ul>

<%= image_tag "library_books.jpg", alt: "Library Books.", height: "500" %>
